$('.top-level').prepend(
    "<%=j render(:partial => 'common/comment', :locals => {:comment => @comment }) %>"
    );

$('.potential-message').html(
    "<div class='alert alert-success'>Thanks for commenting<a class='close' data-dismiss='alert'>&#215;</a></div>"
    );