<h1>Articles</h1><br>
<table>
<% @articles.each do |article| %>
  <tr>
    <td><%= link_to(article.title, article.url) %></td>
    <td><%= article.votes.length %></td>
    <% if signed_in? %>
      <% if Vote.find_by_voteable_id_and_voteable_type_and_user_id(article.id, 'Article', current_user.id) %>
        <td>Upvoted</td>
      <% else %>
        <td><%= link_to('Upvote!', "http://#{request.host}:#{request.port}/vote/#{article.id}/1") %></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>
<%= paginate @articles %>