<h1>Articles submitted by <%= @user.name %></h1>
<table>
<% @articles.each do |article| %>
  <tr>
    <td><%= link_to(article.title, article.url) %></td>
    <td><%= link_to("Edit", edit_article_path(article)) if @user == current_user %></td>
  </tr>
<% end %>
</table>
<%= paginate @articles %>